<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>
          <% if @book.errors.any? %>
            <h2><%= @book.errors.count %> error prohibited this obj from being saved:</h2>
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <%= form_with model: @book do |f| %>
            <div class="form-group">
              <label for="book_title">Title</label>
              <!--<input class="form-control book_title" type="text" name="book[title]" id="book_title">-->
              <%= f.text_field :title, class: "form-control book_title", autofocus: true, id:"book_title" %>
            </div>
            <div class="form-group">
              <label for="book_opinion">Opinion</label>
              <!--<textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>-->
              <%= f.text_area:body, class: "form-control book_body", autofocus: true, id:"book_body" %>
            </div>
            <div class="form-group">
                <%= f.submit 'Update Book',class: "btn btn-success" %>
            </div>
            <% end %>
            <div class="menu">
              <%= link_to "Show", book_path(@book) %>
              |
              <%= link_to "Back", books_path %>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
